.card{
    display: inline-block;
    vertical-align: top;
    scroll-snap-align: center;
    
    margin-right: 60px;
    margin-left: 50px;  
}
.card:last-child{
    border-right: 35px solid black;
}

/*
  Card
*/
.artist-photo{
    height: 200px;
    width: 300px;
  }
  .date-card{
      color:#86CFF9
    }
    #show-headliner{
      font-size:20px;
  
    }
    .guest, .warmup {
      font-weight: normal;
      font-style: italic;
    }
    .guest{
      color:white;
    }
    .warmup-guest {
      color:#EFEFEF;
    }
    .warmup {
      color:#b6b5b5
    }
    .headliner-guest{
      font-size: 14;
      display:inline-block;
    }
    .headliner, .headliner-guest {
      font-style: italic;
      display: inline-block;
      color:#EFEFEF;
    }

/*
    slideshow 
*/
    .carousel-cont {

        scroll-behavior: smooth;
        display: flex;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
        scroll-snap-align: start;
    
    }

  /*
    social bar 
*/
.right {
  justify-self: flex-end;
}
.icon-sm {

}
.icon-md {

}