
::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
div, p, h1, h2, h3, h4, h5, a {
  font-family: Helvetica;   
  font-style: normal;
  font-weight: bold;
  
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.body-cont {
  margin: 200px 5%;
  flex-direction: column;
  align-items: center;
}

/*
    Page Level 
*/
@font-face {
  font-family: 'Roboto-Black';
  src: url('./fonts/Roboto-Black.ttf');
}
@font-face {
  font-family: 'LibSansBold';
  src: url('./fonts/LiberationSans-Bold.ttf');
}


a{
  text-decoration: none;
  color: white;
}
a:hover{
  text-shadow: 0px 1px 20px rgba(255, 255, 255, 0.8);
}
/*
  for flex container with full width and two items inbetween
*/
.split-cont {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/*
  About Section
*/

#about{
  text-align: center;
  padding: 20% 10%;
}
#application{
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20% 10%;
}
#footer{
  padding: 0;
  display: flex;
  background-color: #61dafb;
}
/*
  Primary Button
*/
.btn-prmry{
  margin:0;
  height: auto;
  width: 200px;
  background: white;
  color: #282c34;
  filter: blur(.5px);
  box-shadow: inset 0px 0px 40px 40px white;
  border-radius: 10px;
  -webkit-filter: blur(.5px);
}

.f {
  display: flex;
  align-items: center;
}
.mr-5 {
  margin-right: 5px;
}
.ml-20 {
  margin-left: 20px;
}
.mr-20 {
  margin-right: 20px;
}
.mb-10 {
  margin-bottom: 20px;
}