#footer-cont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 0;
    background: #152294;
    box-sizing: border-box;

}
#footer-cont > .header-cont {
    justify-self: flex-start;
}
/*
border-top: 40px solid #86CFF9;
    filter: blur(45px);
*/