/*
  Headers
*/

    h1 {
        font-size: 54px;
        line-height: 63px;
    }
  
    h2 {
        font-size: 28px;
    }
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 18px;
  
    }
    h4 {
        font-size: 12px;
    }
  
  .header-cont{
    display: grid;
    justify-content: center;
  }
  .headerlayer1, .headerlayer2, .headerlayer3 {
    grid-column: 1;
    grid-row: 1;
  }
  .headerlayer1 {
    z-index: 3;
    filter: blur(.5px);
    -webkit-filter: blur(.5px);
  }
  .headerlayer2 {
    z-index: 2;
    filter: blur(4px);
    -webkit-filter: blur(4px);
}
  .headerlayer3 {
    z-index: 1;
    opacity: 60%;
    filter: blur(8px);
    -webkit-filter: blur(20px);
  }
  
  .redHeaderlayer1 {
    color: #FFEEEE;
  }
  .redHeaderLayer2 {
    color: #f8cece;
  }
  .redHeaderLayer3 {
    color: #E0A5C9;
  }
  /*
    Text 
  */
  p {
    font-family: monospace;
  
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 168.2%;
  }